@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Great+Vibes&family=League+Script&display=swap');


/* Typical Device Breakpoints
-----------------------------

Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

:root{
    --cor1: #86A69D;
    --cor2: #F2B263;
    --cor3: #F2E8DF;
    --cor4: #F2C6C2;
    --cor5: #F28585;
    --fontAmor: 'Great Vibes', cursive;
    --fontAmor2: 'Ballet', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor4));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.401);
    padding: 10px;
    margin: 0px 20px;
}

main h1{
    font-family: var(--fontAmor);
    font-size: 3em;
    color: var(--cor1);
}

main > div.fotos{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

main > div.fotos > img{
    border-radius: 10px;
    transition: opacity 0.5s ease;
    opacity: 1;
}

main > div.fotos > img.fade-out{
    opacity: 0;
}

main > div.fotos > i{
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    font-size: 2em;
}

main > div.fotos > i:hover{
    background-color: var(--cor1);
    transition: background-color 0.5s ease;
    color: var(--cor3);
    transform: scale(1.2);
    transition: transform 0.5s ease-out;
    box-shadow: 0px 0px 10px var(--cor1);
}

main > p{
    font-family: var(--fontAmor);
    font-size: 1.6em;
    color: var(--cor1);
    text-align: center;
    padding: 10px;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    main{
        width: 50vw;  
    }
}




